{% include 'header.html' %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="static/images/icon.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">About Me</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This website is a passion project to help me learn some Kanji in my own spare time. It uses my own custom API with 100 of the most used Kanji word. I'm a self-taught web developer/software engineer and this website is just a personal project of mine.</p>
    </div>
  </div>
{% include 'footer.html' %}